<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- GG FONT -->
    <link
        href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Montserrat:wght@300;400;500;600;800&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Montserrat:wght@300;400;500;600;800&display=swap"
        rel="stylesheet">
    <!-- Font Awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Main Css -->
    <link rel="stylesheet" href="./css/client.css">
    <title>Hentori Manager</title>
</head>

<body>
    <main class="container-fluid text-center">
        <div class="row">
            <div class="col-2 mt-0 px-0">
                <div class="menu_bar">
                    <div id="logo">
                        <a href="./index"><img id="logo-img" src="./img/Logo.png" alt=""></a>
                        <img id="logo-name" src="./img/BrandName.png" alt="">
                    </div>
                    <div id="menu">
                        <a class="menu_item" href="./createorder">
                            <i class="fa-solid fa-plus"></i>
                            Tạo Đơn
                        </a>
                        <a class="menu_item " href="./vieworder">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-receipt-cutoff" viewBox="0 0 16 16">
                                <path
                                    d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5M11.5 4a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1z" />
                                <path
                                    d="M2.354.646a.5.5 0 0 0-.801.13l-.5 1A.5.5 0 0 0 1 2v13H.5a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1H15V2a.5.5 0 0 0-.053-.224l-.5-1a.5.5 0 0 0-.8-.13L13 1.293l-.646-.647a.5.5 0 0 0-.708 0L11 1.293l-.646-.647a.5.5 0 0 0-.708 0L9 1.293 8.354.646a.5.5 0 0 0-.708 0L7 1.293 6.354.646a.5.5 0 0 0-.708 0L5 1.293 4.354.646a.5.5 0 0 0-.708 0L3 1.293zm-.217 1.198.51.51a.5.5 0 0 0 .707 0L4 1.707l.646.647a.5.5 0 0 0 .708 0L6 1.707l.646.647a.5.5 0 0 0 .708 0L8 1.707l.646.647a.5.5 0 0 0 .708 0L10 1.707l.646.647a.5.5 0 0 0 .708 0L12 1.707l.646.647a.5.5 0 0 0 .708 0l.509-.51.137.274V15H2V2.118l.137-.274z" />
                            </svg>
                            Xem Đơn
                        </a>
                        <a class="menu_item active" href="./client">
                            <i class="fa-solid fa-user"></i>
                            Khách hàng
                        </a>
                        <a class="menu_item" href="./report">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-clipboard-data-fill" viewBox="0 0 16 16">
                                <path
                                    d="M6.5 0A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0zm3 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5z" />
                                <path
                                    d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1A2.5 2.5 0 0 1 9.5 5h-3A2.5 2.5 0 0 1 4 2.5zM10 8a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0zm-6 4a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0zm4-3a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0v-3a1 1 0 0 1 1-1" />
                            </svg>
                            Báo Cáo
                        </a>
                    </div>
                    <div id="signature">
                        <img src="./img/signature.png" alt="">
                    </div>
                </div>

            </div>

            <div id="main_content" class=" col-10 mt-0 px-0">
                <div class="title-page">
                    <h2>Khách hàng</h2>
                </div>
                <div class="search-group">
                    <div class="group-input">
                        <div id="main-input" class="main-input" data-url="find/name">
                            <input id="input-name" class="item" type="text" placeholder="Nhập tên khách hàng">
                            <input id="input-phone" class="item d-none" type="text" placeholder="Nhập số điện thoại">
                            <span id="seach-client" class="item"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <button id="drop-type" class="item" type="button">Tìm kiếm theo tên <i
                                    class="fa-solid fa-caret-down"></i> </button>
                        </div>
                        <div id="list-type" class="select-type-search d-none">
                            <a data-url="find/name" class="type-item">
                                Tìm kiếm theo tên
                            </a>
                            <a data-url="find/phone" class="type-item">
                                Tìm kiếm theo số điện thoại
                            </a>

                        </div>
                    </div>
                    <div id="suggest-result" class="suggest-result d-none">

                    </div>
                </div>
                <div class="client-list">

                    <div id="result-find" class="result-find">

                    </div>

                </div>
            </div>


        </div>


    </main>
    <section id="load" class="load d-none">
        <div id="loader-group" class="nofication d-block">
            <div class="loader">
                <div id="loader"></div>
                <div class="logo-loader">
                    <img src="./img/Logo.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <!-- JS -->
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="./js/validate.js"></script>

    <script src="./js/formatData.js"></script>

    <script src="./js/callAPI.js"></script>
    <!-- Model -->
    <!-- Client Model -->
    <script src="./js/model/clientSuitRequest.js"></script>
    <script src="./js/model/clientTrousersRequest.js"></script>
    <script src="./js/model/clientRequest.js"></script>
    <!-- Order Model -->
    <script src="./js/model/orderSuitRequest.js"></script>
    <script src="./js/model/orderTrousersRequest.js"></script>
    <script src="./js/model/orderAccessoryList.js"></script>

    <!-- Main JS -->
    <script src="./js/client.js"></script>


</body>

</html>