<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- GG FONT -->
    <link
        href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Montserrat:wght@300;400;500;600;800&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Montserrat:wght@300;400;500;600;800&display=swap"
        rel="stylesheet">
    <!-- Font Awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Main Css -->
    <link rel="stylesheet" href="./css/forgot.css">
    <title>Hentori Manager</title>
</head>

<body>
    <section class="forgot">

        <div class="main-content">
            <div class="form-forgot">
                <h2 class="title">Quên mật khẩu</h2>
                <div id="alert" class="alert alert-danger d-none" role="alert">

                </div>
                <div class="input-item">
                    <label for="username">Tên Đăng Nhập</label>
                    <input class="input" type="text" id="username">
                    <button id="find_user" type="button" class="btn-search-little"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </div>
                <div id="reset-form" class="reset-form">
                    <div class="input-item">
                        <label for="password">Mật khẩu</label>
                        <input class="input" type="password" id="password">
                        <div class="show-password" onclick="showHidePassword(event)">
                            <span class="show d-none"><i class="fa-solid fa-eye"></i></span>
                            <span class="hide active"><i class="fa-solid fa-eye-slash"></i></span>
                        </div>
                    </div>
                    <div class="input-item">
                        <label for="comfirm-password">Xác nhận mật khẩu</label>
                        <input class="input" type="password" id="comfirm-password">
                        <div class="show-password" onclick="showHidePassword(event)">
                            <span class="show d-none"><i class="fa-solid fa-eye"></i></span>
                            <span class="hide active"><i class="fa-solid fa-eye-slash"></i></span>
                        </div>
                    </div>
                    <div class="input-item">
                        <label for="otp-password">Mã xác nhận</label>
                        <input class="input" type="password" id="otp-password">
                        <div class="show-password" onclick="showHidePassword(event)">
                            <span class="show d-none"><i class="fa-solid fa-eye"></i></span>
                            <span class="hide active"><i class="fa-solid fa-eye-slash"></i></span>
                        </div>

                    </div>
                    <button id="reset" class="btn-create">
                        Đặt lại mật khẩu
                    </button>
                </div>
            </div>
        </div>


    </section>

    <section id="load" class="load d-none">
        <div id="loader-group" class="nofication d-block">
            <div class="loader">
                <div id="loader"></div>
                <div class="logo-loader">
                    <img src="./img/Logo.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <!-- JS -->
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Validate -->
    <script src="./js/validate.js"></script>
    <!-- CallAPI -->
    <script src="./js/callAPI.js"></script>

    <!-- Format Data -->
    <script src="./js/formatData.js"></script>
    <!-- Main JS -->
    <script src="./js/forgot.js"></script>

</body>

</html>