<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


    <!-- GG FONT -->
    <link
        href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Montserrat:wght@300;400;500;600;800&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Montserrat:wght@300;400;500;600;800&display=swap"
        rel="stylesheet">
    <!-- Font Awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Slick -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <!-- Main Css -->
    <link rel="stylesheet" href="./css/index.css">
    <title>Hentori Manager</title>
</head>

<body>

    <section class="login">
        <div class="main-content">
            <div class="slide">
                <div class="slide-tiem">
                    <img src="./img/carousel-1.jpg" alt="">
                </div>
                <div class="slide-tiem">
                    <img src="./img/carousel-2.jpg" alt="">
                </div>
                <div class="slide-tiem">
                    <img src="./img/carousel-3.jpg" alt="">
                </div>
                <div class="slide-tiem">
                    <img src="./img/carousel-4.jpg" alt="">
                </div>
            </div>
            <div class="form-login">
                <h2 class="title">Hentori Manager</h2>
                <div id="alert" class="alert alert-danger d-none" role="alert">

                </div>
                <div class="input-item">
                    <label for="username">Tên Đăng Nhập</label>
                    <input class="input" type="text" id="username">
                </div>
                <div class="input-item">
                    <label for="password">Mật khẩu</label>
                    <input class="input" type="password" id="password">
                </div>
                <div class="link-item">
                    <a href="./forgotpassword">Quên mật khẩu?</a>
                </div>
                <div class="link-item">
                    <a href="./confirmadmin">Xác nhận tài khoản</a>
                </div>
                <div class="button-group">
                    <button id="signin" class="btn-create" type="button">
                        Đăng Nhập
                    </button>
                    <button id="register" type="button" class="btn-update">Đăng ký</button>
                </div>

            </div>

        </div>
    </section>

    <!-- JS -->
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Slick -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.4.1/jquery-migrate.min.js"
        integrity="sha512-KgffulL3mxrOsDicgQWA11O6q6oKeWcV00VxgfJw4TcM8XRQT8Df9EsrYxDf7tpVpfl3qcYD96BpyPvA4d1FDQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="./js/swiperCustom.js"></script>
    <!-- CallAPI -->
    <script src="./js/callAPI.js"></script>

    <!-- Main JS -->


    <script src="./js/index.js"></script>

</body>

</html>